# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pyCharm_projects\Chinese_poker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
